<section id="content">
  <section id="hero" class="chat"></section>
  <section id="container">
    <div class="hero-text">
      <div class="title">New Article</div>
    </div>
    <%= render "form", article: @article %>
    <%= link_to "Back", articles_path %>
  </section>
</section>