<footer class="fixed bottom-0 left-0 z-20 p-3 w-full shadow md:flex md:items-center md:justify-between bg-darkpurple text-center items-center">
    <span class="text-sm sm:text-center text-gray-400">© 2022 <a href="https://github.com/LuisHernandezCoding" class="hover:underline">LHC™ | Luis Hernandez Coding</a></span>
    <ul class="flex flex-wrap items-center text-sm text-gray-400 justify-center">
      <li>
        <%= link_to "About", about_path, class: "m-3 md:m-6 hover:underline" %>
      </li>
      <li>
        <%= link_to "Contact", contact_path, class: "m-3 md:m-6 hover:underline" %>
      </li>
    </ul>
</footer>
